# Configuration
python-dotenv==1.0.0

# SOAP
lxml==5.3.0
zeep==4.2.1

# Flask REST API
Flask==3.0.0
Flask-CORS==4.0.0
gunicorn==21.2.0

# HTTP
requests==2.31.0
urllib3==2.1.0

# GraphQL
gql==3.5.0
graphql-core==3.2.3

# Logs & monitoring
python-json-logger==2.0.7
applicationinsights==0.11.10

# Azure
azure-storage-blob==12.19.0
